* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: rgb(210, 202, 236);
  }
  .header {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 57vh;
    margin: auto;
  }
  .top {
    display: flex;
    height: 60%;
    margin-top: 2rem;
  }
  .pic {
    width: 40%;
    text-align: center;
    margin-top: 2rem;
    
  }
  .pic img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
  }
  .info {
    width: 60%;
    margin-top: 2rem;
  }
  p {
    padding-top: 1rem;
  }
  .info h1 {
    background-color: rgb(9, 148, 113);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 25px;
  }
  .info .name p strong {
    font-size: 35px;
  }
  .info .name p {
    font-size: xx-large;
    padding-right: 2rem;
    font-weight: 300;
  }
  .info .name h2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(192, 192, 192);
    border-width: 20%;
    margin: 0 auto;
  } 
  strong {
    padding-right: 5rem;
  }
  .age {
    padding-right: 12.7rem;
  }
  .address {
    padding-right: 10rem;
  }
  .email {
    padding-right: 11.5rem;
  }
  .phone {
    padding-right: 11.5rem;
  } 
  .links {
    background-color: rgb(9, 148, 113);
    color: white;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    gap: 5rem;
  }
 .box {
  background-color: #fffdfd;
  text-align: center;
  margin: 0 auto;
  padding: 10px 5px;
  width: 450px;
  height: 350px;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(243, 129, 129, 0.2);
 } 

 .box h1 {
  background-color: rgb(210, 202, 236) ;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 4px;
  }
 .box .bold-center{
  font-weight: bold;   
  text-align: center;   
  display: block;
 } 
 .box1 {
  margin-top: 10px;
 }
 .box1 li {
    text-align: left;
    margin-left: 50px;
 }
 .box2 {
  width: 100%;
  margin-top: 30px;
 }

 .box2 .box3 {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0px;
  padding: 0px;
  justify-content: center; 
}
.box4 {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid red;
  cursor: pointer;
}
.box5 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: justify;
}
.footer {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 930px;
  border: 1px solid red;
  cursor: pointer;
  margin-left: 320px;
  margin-top: 50px;
  margin-bottom: 2rem;
  text-align: center;
}
.box6 {
  width: 60%;
  margin: 0 auto;     
  margin-top: 20px;  
  display: grid;  
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto; 
  gap: 20px;  
  justify-content: center;
  align-items: center;  
}

 
 
 